<div class="productos-container">
  <div class="productos-grid">
    @for (p of Productos; track p.id){
      @if (p.disponibilidad){
        <article class="producto-card">
          <img src="{{p.imagenUrl}}" alt="{{p.nombre}}">
          <div class="producto-card-body">
            <h3>{{p.nombre}}</h3>
            <p class="descripcion">{{p.descripcion}}</p>
            <p class="precio">${{p.precio.toFixed(2)}}</p>
            <a href="#" class="btn-add-cart">Comprar</a>
          </div>
        </article>
      }
    }
  </div>
</div>